<!DOCTYPE html>
<html lang="en">

<head>
	<title> Technichians </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/techProfile/images/icons/spreadsheet-512.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techProfile/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techProfile/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techProfile/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techProfile/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techProfile/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techProfile/css/util.css">
	<link rel="stylesheet" type="text/css" href="/techProfile/css/main.css">
	<link rel="stylesheet" type="text/css" href="/techProfile/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/techProfile/css/flex-slider.css">
	<!--===============================================================================================-->
</head>

<body>
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a class="logo">
							<p class="radio">Radiology </p>
							</p>

						</a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="/logout"> <button class="btn btn--radius-2 btn--blue" href="/logout" style="background-color: #c44cba;
								border-radius: 20px;
								font-weight: bold;
								color: white;
								font-family: Verdana, Geneva, Tahoma, sans-serif;">Log out </button> </a> </li>

						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="limiter">
		<div class="container-table100">

			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">ID</th>
								<th class="column3">Sex</th>
								<th class="column4">Age</th>
								<th class="column6">HoursWorked</th>
								<th class="column7">Phone</th>
								<th class="column8">Email</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="column1">
									<%= tech.name %>
								</td>
								<td class="column2">
									<%= tech._id %>
								</td>
								<td class="column3">
									<%= tech.sex %>
								</td>
								<td class="column4">
									<%= tech.age %>
								</td>
								<td class="column6">
									<%= tech.hoursWorked %>
								</td>
								<td class="column7">
									<%= tech.phoneNumber %>
								</td>
								<td class="column8">
									<%= tech.email %>
								</td>

							</tr>
							<div class="button_cont"> <a href="https://calendar.google.com/"><button class="example_b"
										onclick="btnClicked()" target="_blank"
										rel="nofollow noopener">Calendar</button></a>

							</div>
							<div class="container" style="height: 170px;
							position: relative;
							margin-top: 30px;
							">
								<form action="/upload" method="POST" enctype="multipart/form-data">
									<div class="file-field input-field">
										<div class="btn grey">

											<input name="myImage" type="file" style="color:black !important;
											text-transform: uppercase;
											text-decoration: none;
											background:white;
											width:300px;
											margin-top: 15px;
											height:30px;
											margin-right: 30px;
											
											display: inline-block;
											position: relative;
											border: none;
											transition: all 0.4s ease 0s;">
										</div>
										<div class="file-path-wrapper">
											<input style="margin-top: 15px; height: 30px;
											width: 300px;border-radius: 50px;margin-left: 10px;padding-left: 20px; " type="text" name="id"
												placeholder="Please Enter Patient ID" value="<%=qs.id%>">
										</div>
									</div>
									<button type="submit" class="btn" style="color: #fff !important;
									text-transform: uppercase;
									text-decoration: none;
									background: #fc61bb;
									margin-top: 15px;
									margin-left: 10px;
									width:100px;
									height:50px;
									margin-right: 30px;
									border-radius: 50px;
									display: inline-block;
									position: relative;
									border: none;
									transition: all 0.4s ease 0s;">SUBMIT</button>
								</form>
							</div>
						</tbody>
					</table>



				</div>
			</div>
			<div class="wrap-table100">
				<div class="table100">
					<% if (device) { %>
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Name</th>
									<th class="column2">Model</th>
									<th class="column3">ServiceDate</th>
									<th class="column4">SubSection</th>
									<th class="column5">ArrivalDate</th>
									<th class="column6">Id</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="column1">
										<%= device.name %>
									</td>
									<td class="column2">
										<%= device.model %>
									</td>
									<td class="column3">
										<%= device.serviceDate %>
									</td>
									<td class="column4">
										<%= device.subSection %>
									</td>
									<td class="column5">
										<%= device.arrivalDate %>
									</td>
									<td class="column6">
										<%= device._id %>
									</td>
								</tr>




								<% } %>
							</tbody>
						</table>



				</div>
			</div>
		</div>
	</div>
	<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 Team-10 Database</p>
                </div>
            </div>
        </div>
    </footer>
	<script>
		function btnClicked() {
			document.location.href = "https://calendar.google.com/";
		}
		function btnClicked1() {
			document.location.href = "https://www.google.com/";
		}
	</script>
	<script src="/techProfile/js/bootstrap.min.js"></script>
	<script src="/techProfile/js/jquery.counterup.min.js"></script>
	<script src="/techProfile/js/jquery-2.1.0.min.js"></script>
	<script src="/techProfile/js/custom.min.js"></script>
	<script src="/techProfile/js/imgfix.min.js"></script>
	<script src="/techProfile/js/scrollreveal.min.js"></script>
	<script src="/techProfile/js/waypoints.min.js"></script>
	<script src="/techProfile/js/popper.js"></script>



	<!--===============================================================================================-->
	<script src="/techProfile/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techProfile/vendor/bootstrap/js/popper.js"></script>
	<script src="/techProfile/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techProfile/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techProfile/js/main.js"></script>

</body>

</html>