<!DOCTYPE html>
<html lang="en">

<head>
	<title> Technichians </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/techs/images/icons/spreadsheet-512.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/css/util.css">
	<link rel="stylesheet" type="text/css" href="/techs/css/main.css">
	<link rel="stylesheet" type="text/css" href="/patients/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/patients/css/flex-slider.css">
	<!--===============================================================================================-->
</head>

<body>
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a class="logo">
                            <p class="radio">Radiology  
                             </p>
                            
                        </a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="/patients">Patients</a></li>
							<li><a href="/doctors">Doctors</a></li>
							<li><a href="/techs" class="active">Technicians</a></li>
							<li><a href="/devices">Devices</a></li>
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/complains">Complains</a></li>
							<li> <a href="/logout"> <button class="btn btn--radius-2 btn--blue" style="background-color: #c44cba;
								border-radius: 20px;
								font-weight: bold;
								color: white;
								font-family: Verdana, Geneva, Tahoma, sans-serif;">Log out </button></a> </li>
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="limiter">
		<div class="container-table100">
			
			<div class="wrap-table100">
				<div class="table100">
					<% if (technicians.length> 0) { %>
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Name</th>

									<th class="column3">ID</th>
									<th class="column4">Sex</th>
									<th class="column5">Age</th>
									<th class="column7">HoursWorked</th>
									<th class="column8">Phone</th>
									<th class="column9">Email</th>
								</tr>
							</thead>
							<tbody>
								<% technicians.forEach(technichian=> { %>
									<tr>
										<td class="column1">
											<%= technichian.name %>
										</td>

										<td class="column3">
											<%= technichian._id %>
										</td>
										<td class="column4">
											<%= technichian.sex %>
										</td>
										<td class="column5">
											<%= technichian.age %>
										</td>

										<td class="column7">
											<%= technichian.hoursWorked %>
										</td>
										<td class="column8">
											<%= technichian.phoneNumber %>
										</td>
										<td class="column9">
											<%= technichian.email %>
										</td>
									</tr>
									<% }) %>
										

										<% } else { %>
											<p class="noDoc"> There are no technichians to show</p>
											
											<% } %>
							</tbody>
						</table>



				</div>
			</div>
		</div>
	</div>
	<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 Team-10 Database</p>
                </div>
            </div>
        </div>
    </footer>
	<script>
		function btnClicked() {
			document.location.href = "views/addTech";
		}
		function btnClicked1() {
			document.location.href = "https://www.google.com/";
		}
	</script>
	<script src="/techs/js/bootstrap.min.js"></script>
	<script src="/techs/js/jquery.counterup.min.js"></script>
	<script src="/techs/js/jquery-2.1.0.min.js"></script>
	<script src="/techs/js/custom.min.js"></script>
	<script src="/techs/js/imgfix.min.js"></script>
	<script src="/techs/js/scrollreveal.min.js"></script>
	<script src="/techs/js/waypoints.min.js"></script>
	<script src="/techs/js/popper.js"></script>



	<!--===============================================================================================-->
	<script src="/techs/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techs/vendor/bootstrap/js/popper.js"></script>
	<script src="/techs/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techs/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techs/js/main.js"></script>

</body>

</html>