<!DOCTYPE html>
<html lang="en">

<head>
	<title> Patients </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/patients/images/icons/spreadsheet-512.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/patients/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/patients/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/patients/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/patients/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/patients/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/patients/css/util.css">
	<link rel="stylesheet" type="text/css" href="/patients/css/main.css">
	<link rel="stylesheet" type="text/css" href="/patients/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/patients/css/flex-slider.css">
	<!--===============================================================================================-->
</head>

<body>
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a class="logo">
                            <p class="radio">Radiology  
                             </p>
                            
                        </a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="/patients" class="active">Patients</a></li>
							<li><a href="/doctors">Doctors</a></li>
							<li><a href="/techs">Technicians</a></li>
							<li><a href="/devices">Devices</a></li>
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/complains">Complains</a></li>
							<li><a href="/logout"> <button class="btn btn--radius-2 btn--blue" href="/logout"
										style="background-color: #c44cba;
								border-radius: 20px;
								font-weight: bold;
								color: white;
								font-family: Verdana, Geneva, Tahoma, sans-serif;">Log out </button> </a> </li>
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="limiter">
		<div class="container-table100">

			<div class="wrap-table100">
				<div class="table100">
					<% if (patients.length> 0) { %>
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Name</th>
									<th class="column2">ID</th>
									<th class="column3">Sex</th>
									<th class="column4">Age</th>

									<th class="column5">Phone</th>

									<th class="column6">Email</th>
								</tr>
							</thead>
							<tbody>
								<% patients.forEach(Patient=> { %>
									<tr>
										<td class="column1">
											<%= Patient.name %>
										</td>
										<td class="column2">
											<%= Patient._id %>
										</td>
										<td class="column3">
											<%= Patient.sex %>
										</td>
										<td class="column4">
											<%= Patient.age %>
										</td>

										<td class="column5">
											<%= Patient.phoneNumber %>
										</td>

										<td class="column6">
											<%= Patient.email %>
										</td>
									</tr>
									<% }) %>
										

										<% } else { %>
											<p class="noDoc"> There are no patients to show</p>
											
											<% } %>
							</tbody>
						</table>



				</div>
			</div>
		</div>
	</div>
	<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 Team-10 Database</p>
                </div>
            </div>
        </div>
    </footer>
	<script>
		function btnClicked() {
			document.location.href = "views/addPatient";
		}
		function btnClicked1() {
			document.location.href = "https://www.google.com/";
		}
	</script>
	<script src="/patients/js/bootstrap.min.js"></script>
	<script src="/patients/js/jquery.counterup.min.js"></script>
	<script src="/patients/js/jquery-2.1.0.min.js"></script>
	<script src="/patients/js/custom.min.js"></script>
	<script src="/patients/js/imgfix.min.js"></script>
	<script src="/patients/js/scrollreveal.min.js"></script>
	<script src="/patients/js/waypoints.min.js"></script>
	<script src="/patients/js/popper.js"></script>



	<!--===============================================================================================-->
	<script src="/patients/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/patients/vendor/bootstrap/js/popper.js"></script>
	<script src="/patients/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/patients/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/patients/js/main.js"></script>

</body>

</html>