<!DOCTYPE html>
<html lang="en">

<head>
	<title> Devices </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/devices/images/icons/spreadsheet-512.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/devices/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/devices/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/devices/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/devices/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/devices/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/devices/css/util.css">
	<link rel="stylesheet" type="text/css" href="/devices/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-table100">
			<header class="header-area header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav class="main-nav">
								<!-- ***** Logo Start ***** -->
								<a href="#" class="logo">
									<img src="/devices/images/logo-3.png" alt="Rad" />
								</a>
								<!-- ***** Logo End ***** -->
								<!-- ***** Menu Start ***** -->
								<ul class="nav">
									<li><a href="/home">Home</a></li>
									<li><a href="/patients">Patients</a></li>
									<li><a href="/doctors">Doctors</a></li>
									<li><a href="/techs">Technicians</a></li>
									<li><a href="/devices" class="active">Devices</a></li>
									<li><a href="/dashboard">Dashboard</a></li>
									<li><a href="/contactus">Contact Us</a></li>
								</ul>
								<a class='menu-trigger'>
									<span>Menu</span>
								</a>
								<!-- ***** Menu End ***** -->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<div class="wrap-table100">
				<div class="table100">
					<% if (devices.length> 0) { %>
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Name</th>
									<th class="column2">Model</th>
									<th class="column3">Service Date</th>
									<th class="column4">Sub Section</th>
									<th class="column5">Arrival Date</th>
								</tr>
							</thead>
							<tbody>
								<% devices.forEach(device=> { %>
									<tr>
										<td class="column1">
											<%= device.name %>
										</td>
										<td class="column2">
											<%= device.model %>
										</td>
										<td class="column3">
											<%= device.serviceDate %>
										</td>
										<td class="column4">
											<%= device.subSection %>
										</td>
										<td class="column5">
											<%= device.arrivalDate %>
										</td>
										<td class="column5">
											<%= device.staffs[0] %>
										</td><td class="column5">
											<%= device.staffs[1] %>
										</td>
									</tr>
									<% }) %>
										<div class="button_cont"> <button class="example_b" onclick="btnClicked()"
												target="_blank" rel="nofollow noopener">Add</button>
											<button class="example_b" onclick="btnClicked1()" target="_blank"
												rel="nofollow noopener">Delete</button>
										</div>

										<% } else { %>
											<p class="noDevice"> There is no devices to show</p>
											<div class="button_con"><button class="example_b" onclick="btnClicked()"
													target="_blank" rel="nofollow noopener">Add</button></div>
											<% } %>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
	<script>
		function btnClicked() {
			document.location.href = "views/addDoc";
		}
		function btnClicked1() {
			document.location.href = "https://www.google.com/";
		}
	</script>



	<!--===============================================================================================-->
	<script src="/devices/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/devices/vendor/bootstrap/js/popper.js"></script>
	<script src="/devices/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/devices/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/devices/js/main.js"></script>

</body>

</html>