<!DOCTYPE html>
<html lang="en">

<head>
	<title>Booking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/appointments/images/download.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/appointments/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/appointments/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/appointments/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/appointments/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/appointments/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/appointments/css/util.css">
	<link rel="stylesheet" type="text/css" href="/appointments/css/main.css">
	<link rel="stylesheet" type="text/css" href="/appointments/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/appointments/css/flex-slider.css">

	<!--===============================================================================================-->
</head>

<body>
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="#" class="logo">
                            <p class="radio">Radiology  
                             </p>
                            
                        </a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="/appointments" class="active">Book</a></li>
							<li><a href="/contactus">Contact Us</a></li>
							<li><a href="/logout"> <button class="btn btn--radius-2 btn--blue" type="submit"
										style="background-color: #c44cba;
								border-radius: 20px;
								font-weight: bold;
								color: white;
								font-family: Verdana, Geneva, Tahoma, sans-serif;">Log out </button> </a></li>

						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="bg-contact100" style="background-image: url('images/imageedit_6_2117734224.gif');">
		<div class="container-contact100">
			

			<div class="wrap-contact100">
				<div class="contact100-pic js-tilt" data-tilt>
					<img src="/appointments/images/img004.png" alt="IMG">
				</div>

				<form class="contact100-form validate-form" method="POST" action="/appointments/">
					<span class="contact100-form-title">
						Book an Appointment
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="name" placeholder="Name" value="<%= qs.name%>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="email" value="<%= qs.email%>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid date is required">
						<input class="input100" type="date" name="dvisit" placeholder="Date of visit"
							value="<%= qs.date%>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid date is required">
						<input class="input100" type="time" name="tvisit" value="<%= qs.time%>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Scantype is required">
						<select class="container-contact100-form-btn contact100-form-btn1" name="scantype"
							id="scantype">
							<option disabled="disabled" selected="selected" value="<%=qs.scantype%>">Scan Type</option>
							<% var options=["MRI", "X-Ray" , "CT" , "Ultrasound" , "Mamograohy" ]; %>
								<% for(var i=0; i < 5; i++) { %>
									<option value='<%= options[i] %>'>
										<%= options[i] %>
									</option>
									<% } %>
						</select>
						<span class="focus-input100"></span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Send
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/appointments/js/bootstrap.min.js"></script>
	<script src="/appointments/js/jquery.counterup.min.js"></script>
	<script src="/appointments/js/jquery-2.1.0.min.js"></script>
	<script src="/appointments/js/custom.min.js"></script>
	<script src="/appointments/js/imgfix.min.js"></script>
	<script src="/appointments/js/scrollreveal.min.js"></script>
	<script src="/appointments/js/waypoints.min.js"></script>
	<script src="/appointments/js/popper.js"></script>

	<!--===============================================================================================-->
	<script src="/appointments/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/appointments/vendor/bootstrap/js/popper.js"></script>
	<script src="/appointments/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/appointments/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/appointments/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="/appointments/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>

</body>

</html>