<!DOCTYPE html>
<html lang="en">

<head>
	<title> Technichians </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/techs/images/icons/spreadsheet-512.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/techs/css/util.css">
	<link rel="stylesheet" type="text/css" href="/techs/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-table100">
			<header class="header-area header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav class="main-nav">
								<!-- ***** Logo Start ***** -->
								<a href="#" class="logo">
									<img src="/techs/images/logo-3.png" alt="Rad" />
								</a>
								<!-- ***** Logo End ***** -->
								<!-- ***** Menu Start ***** -->
								<ul class="nav">
									<li><a href="/patients">Patients</a></li>
									<li><a href="/doctors">Doctors</a></li>
									<li><a href="/techs" class="active">Technicians</a></li>
									<li><a href="/devices">Devices</a></li>
									<li><a href="/dashboard">Dashboard</a></li>
									<li><a class="btn btn--radius-2 btn--blue" href="/logout" style="background-color: #c44cba;
										border-radius: 20px;
										font-weight: bold;
										color: white;
										font-family: Verdana, Geneva, Tahoma, sans-serif;">Log out </a> </li>
								</ul>
								<a class='menu-trigger'>
									<span>Menu</span>
								</a>
								<!-- ***** Menu End ***** -->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<div class="wrap-table100">
				<div class="table100">
					<% if (technicians.length> 0) { %>
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Name</th>
									<th class="column2">SSN</th>
									<th class="column3">ID</th>
									<th class="column4">Sex</th>
									<th class="column5">Birthdate</th>
									<th class="column6">Address</th>
									<th class="column7">HoursWorked</th>
									<th class="column8">Phone</th>
									<th class="column9">Email</th>
								</tr>
							</thead>
							<tbody>
								<% technicians.forEach(technichian=> { %>
									<tr>
										<td class="column1">
											<%= technichian.name %>
										</td>
										<td class="column2">
											<%= technichian.ssn %>
										</td>
										<td class="column3">
											<%= technichian._id %>
										</td>
										<td class="column4">
											<%= technichian.sex %>
										</td>
										<td class="column5">
											<%= technichian.birthdate %>
										</td>
										<td class="column6">
											<%= technichian.address %>
										</td>
										<td class="column7">
											<%= technichian.hoursWorked %>
										</td>
										<td class="column8">
											<%= technichian.phoneNumber %>
										</td>
										<td class="column9">
											<%= technichian.email %>
										</td>
									</tr>
									<% }) %>
										<div class="button_cont"> <button class="example_b" onclick="btnClicked()"
												target="_blank" rel="nofollow noopener">Add</button>
											<button class="example_b" onclick="btnClicked1()" target="_blank"
												rel="nofollow noopener">Delete</button>
										</div>

										<% } else { %>
											<p class="noDoc"> There are no technichians to show</p>
											<div class="button_con"><button class="example_b" onclick="btnClicked()"
													target="_blank" rel="nofollow noopener">Add</button></div>
											<% } %>
							</tbody>
						</table>



				</div>
			</div>
		</div>
	</div>
	<script>
		function btnClicked() {
			document.location.href = "views/addTech";
		}
		function btnClicked1() {
			document.location.href = "https://www.google.com/";
		}
	</script>



	<!--===============================================================================================-->
	<script src="/techs/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techs/vendor/bootstrap/js/popper.js"></script>
	<script src="/techs/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techs/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/techs/js/main.js"></script>

</body>

</html>